window {
     margin: 0px;
     border: 2px solid #FF00FF;
     border-radius: 12px;
     background-color: rgba(40, 42, 54, 0.9);
}

#input {
     margin: 7px 5px 10px 5px;
     border: none;
     border-radius: 20px;
     color: #f8f8f2;
     background-color: rgba(68, 71, 90, 0.9);
}

     
#inner-box {
     margin: 5px;
}

#outer-box {
     margin: 5px;
     margin-bottom: 10px;
}

#scroll {
     margin: 0px;
}

#text {
     margin: 5px;
     color: #f8f8f2;
} 

#entry.activatable #text {
     color: #282a36;
}

#entry > * {
     color: #f8f8f2;
}

#entry:selected {
     background: linear-gradient(90deg,rgba(255, 255, 255, 0.9), rgba(255, 128, 255, 0.9));
     border-radius: 20px;
     border: none;
}

#entry:selected #text {
     color: #000000;
     margin-left: 20px;
}

/* Colors:
Grey : rgba(68, 71, 90, 1)
Cyan : rgba(147, 249, 240, 1)
Pink : rgba(189, 147, 249, 1)

  bg: #282a36;
  fg: #f8f8f2;
  pink: #bd93f9;
  cyan: #93f9f0;
  white: #ffffff;
  black: #000000;
*/
